@import url(//fonts.googleapis.com/css?family=Archivo+Narrow|Pacifico|Bangers|Bungee);


/*navbar css*/
.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  color: #fff;
  background-color: #5F907A;
  padding: 20px 10vw;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 7px 22px 0 rgba(0,0,0,0.19);
  background-image: url("../../../lib/img/wheat-dark.png");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.selection {
  font-family: 'Bungee', cursive;
  color: white;
  font-size: 52px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 25px;

}

.nav-links a {
  color: white;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.money-counter {
  margin-top: 9px;
  margin-left: 5px;
}

.coin {
  margin-top: 4px;
}

.nav-links a:hover {
  color: white;
  text-shadow: 1px 1px 2px white;

}

.coin {
  height: 30px;
  margin-bottom: 2.5px;

}