@import url(//fonts.googleapis.com/css?family=Archivo+Narrow|Pacifico);



.cardBackground {
  position: relative;
  height: 400px;
  width: 300px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: .5em;
  color: white;
  border: 2px solid black;
  box-shadow: 0 20px 60px 0 rgba(0,0,0,0.24), 0 50px 80px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
  background-image: url("../../lib/img/ep_naturalblack.png")

}

.workingBackground {
  position: relative;
  height: 400px;
  width: 300px;
  background-image: url("../../lib/img/green-fibers.png");
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: .5em;
  color: white;
  border: 2px solid black;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24), 0 15px 20px 0 rgba(0,0,0,0.30);
  border-radius: 6px;

}

.breedingBackground {
  position: relative;
  height: 400px;
  width: 300px;
  background-color: #6C2E46;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: .5em;
  color: white;
  border: 2px solid black;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  border-radius: 6px;
}

.selectedBackground {
  position: relative;
  height: 400px;
  width: 300px;
  background-color: #707070;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: .5em;
  color: white;
  border: 2px solid #271C21;
  border-radius: 6px;
  outline: none;
  border-color: #271C21;
  box-shadow: 0 0 15px #4F3A59;
}

.status-bar {
  height: 2px;
  width: 100px;
  background-color: grey;
  border-radius: 6px;
}

.status-bar .filled {
  height: 100%;
  background-color: #6DC29E;
  z-index: -10;
  border-radius: 6px;
}

.current-job-container .breedingBackground {
  height: 400px;
  width: 300px;

}

.nameContainer {
  width: 90%;
  z-index: 20;

}




.name-link {
  color: white;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: bold;
  padding-right: 7px;
  padding-left: 7px;
  align-items: center;

}

.name-link:hover {
  color: lightgrey;
  font-weight: bold;
}

.creatureWindow {
  width: 90%;
  height: 50%;
  background-color: #EDEEF0;
  z-index: 5;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  border-radius: 48%;
}

.creatureStats {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: lightgrey;
  position: relative;
}

.creatureStats img {
  height: 32px;
  width: 32px;
}

.name-form {
  display: flex;
  font-size: 12px;
}



.edit-name-field {
  color: black;

}

.confirm-name-button {
  width: 40px;
  height: 20px;
  font-size: 10px;
}

.breed-button-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}



.breed-title {
  color: black;
}

.edit-name-button {
  display: flex;
  background-color: Gainsboro;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  padding: 4px 6.5px;
  border-radius: 3px;
  border: none;
  color: darkslategrey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  font-size: 12px;



}



.edit-name-button:hover {
  background-color: #656594;
  color: white;
}

.edit-name-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.breed-button {
  background-color: Gainsboro; color: black;
  border: none;
  font-size: 16px;
  padding: 2px 6.5px;
  border-radius: 3px;
  border: none;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.6s;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  margin: 1px;
  font-family: "Archivo Narrow", sans-serif;
}

.petProfile .breed-Button{
  font-size: 24px;
}

.actual-breed-button {
  display: flex;
  background-color: Gainsboro;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  border-radius: 3px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 4px;
  font-size: 1.2em;
  height: 2.2em;
  width: 8em;
  margin-top: 45px;


}

.actual-breed-button:hover {
  background-color: #4F3A59;
  color: lightgrey;
}

.actual-breed-button:active {
 background-color: #4F3A59;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.breed-button:hover {
  background-color: #4F3A59;
  color: white;
}

.breed-button:active {
  background-color: #4F3A59;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2 {
  margin: 0;

}

p {
  margin: 1.4px;
}

