.creature-size{
  height: 200px;
  width: 150px;
}

.pet-profile-creature-image .creature-size{
  height: 600px;
  width: 450px;
}

.petJob .creature-size {
  height: 266px;
  width: 200px;
}

.creature {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

@keyframes bob {
  from {top: 0%;}
  50%  {top: 1%;}
  to   {top: 0%;}
}

.animate .notFeet {
  animation-name: bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.notFeet {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.body {
  position: absolute;
  z-index: -1;
  height: 80%;
  width: 80%;
}

.bodyOutline {
  position: absolute;
  height: 80%;
  width: 80%;
  z-index: 10;
}

.pattern {
  position: absolute;
  z-index: -1;
  top: 1.5%;
  height: 80%;
  width: 80%;
}

.eyes {
  position: absolute;
  top: 25%;
  left: 0%;
  width: 50%;
}


.eye svg{
  position: absolute;
  z-index: 3
}
.eye img{
  position: absolute;
  z-index: 4
}

@keyframes blink {
  from {opacity: 1;}
  49% {opacity: 1;}
  50% {opacity: 0;}
  51% {opacity: 0;}
  52% {opacity: 1;}
  to {opacity: 1;}
}

.animate .open {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.earL svg{
  position: absolute;
  right: 60%;
  bottom: 85%;
  z-index: -2;
}
.earL img{
  position: absolute;
  right: 60%;
  bottom: 85%;
  z-index: -2;
}

.earR svg{
  position: absolute;
  left: 60%;
  bottom: 85%;
  z-index: -2;
}

.earR img{
  position: absolute;
  left: 60%;
  bottom: 85%;
  z-index: -2;
}

.feet img {
  position: absolute;
  height: 20%;
  left: 16%;
  top: 70%;
  z-index: -2;
}

.feet .foot_left {
  left: 27%;
}

.mouth img {
  position: absolute;
  width: 25%;
  left: 38%;
  top: 45%;
}

.nose img {
  position: absolute;
  width: 15%;
  left: 43%;
  top: 35%;
}

.freckles img {
  position: absolute;
  width: 40%;
  left: 31%;
  top: 38%;
}
