.cardBackground {
  position: relative;
  height: 37vw;
  width: 24vw;
  background-color: #525267;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
  color: white;
  border: 1px solid black;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);

}

.workingBackground {
  position: relative;
  height: 37vw;
  width: 24vw;
  background-color: tan;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
  color: white;
  border: 1px solid black;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);

}

.nameContainer {
  width: 90%;
  z-index: 20;
}




.name-link {
  color: LavenderBlush;
  font-weight: bold;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  background-color: SlateGray;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 4px;
  border: 5px #43435B;
  align-items: center;

}

.name-link:hover {
  color: #452889;
  font-weight: bold;
}

.creatureWindow {
  width: 90%;
  height: 50%;
  background-color: Lavender;
  z-index: 5;
  display: flex;
  justify-content: center;
  padding-top: 1em;
  border: 1px solid black;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
}

.creatureStats {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  position: relative;
}

.creatureStats img {
  height: 32px;
  width: 32px;
}

.name-form {
  display: flex;
  font-size: 12px;
}



.edit-name-field {
  color: black;

}

.confirm-name-button {
  width: 40px;
  height: 20px;
  font-size: 10px;
}

.breed-button-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}



.breed-title {
  color: black;
}

.edit-name-button {
  display: flex;
  background-color: Gainsboro;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  padding: 4px 6.5px;
  border-radius: 3px;
  border: none;
  color: darkslategrey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  font-size: 12px;



}

.edit-name-button:hover {
  background-color: #656594;
  color: white;
}

.edit-name-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.breed-button {
  background-color: Gainsboro; color: black;
  border: none;
  font-size: 0.8vw;
  padding: 4px 6.5px;
  border-radius: 3px;
  border: none;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.6s;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
  margin: 2px;

}



.breed-button:hover {
  background-color: #656594;
  color: white;
}

.breed-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2 {
  margin: 0;

}

p {
  margin: 1.4px;
}