@import url(//fonts.googleapis.com/css?family=Archivo+Narrow|Pacifico);

/*navbar css*/

.selection {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 3vw;
}

.browse-users,
.logout {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 1.5vw;
}

.logout {
  margin-left: 3vw;
}

.browse-users:hover,
.logout:hover {
  font-size: 1.5vw;
  color: black;
  text-shadow: 2px 2px 5px white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  color: #fff;
  background-color: #971034;
  padding: 20px 0;
  justify-content: center;
  color: black;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  font-family: "Archivo Narrow", sans-serif;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/*all generic button styles*/
a.button {
  background-color: #a3c7b0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 15px;
  box-shadow: 3px 3px grey;
}
/*
pet profile page CSS*/

.pet-profile-stats {
  margin-top: 30px !important;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
}

.pet-profile-name {
  font-size: 24px;
}

.pet-profile-img {
  margin-left: 50px;
  margin-top: 30px !important;
}

/*set free button diff color to differentiate */
a.button-free {
  background-color: grey;
  box-shadow: 3px 3px grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 15px;
}

/*browse all users page*/
.username-list {
  font-weight: bold;
}
.box {
  background: white;
  width: 300px;
  border-radius: 6px;
  margin: 0 auto 0 auto;
  margin-top: 45px;
  maring-top: 40px;
  padding: 0px 0px 70px 0px;
  border: #black 2px solid;
}

.email {
  background: #ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: #aaaaaa;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 4px;
}

/*breed page */

.breed-first-content {
  display: flex;
  justify-content: space-between;
  height: 30vw;
}

.add-mate {
  display: flex;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.add-mate-link {
  font-size: 4em;
}

.heart-icon {
  display: flex;
  padding-top: 9vw;
}

/*creature card container*/

.creature-card-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.creature-card-container {
  width: 25vw;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-right: 5px;
}

.creature-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creature-grid-item {
  display: flex;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

/*job card container */

.job-card-title {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.job-card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: right;
}

.job-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.job-grid-item {
  display: flex;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.flex-home-page-elements-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 1vw;
  padding-top: 6vw;
}

/*
header (username and avatar)*/

.subscribe {
  margin-top: 1vw;
}

.header-container {
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 9vw;
  align-content: space-between;
}

.header {
  margin-top: 2vw;
  color: black;
  background-color: white;

  display: flex;
  justify-content: center;
  height: 10vw;
  width: 40vw;
  justify-content: space-around;
}

.avatar-info,
.new-pet-button {
  height: 3vw;
  align-self: center;
}

.new-pet-button-container {
  color: black;
  background-color: white;
  display: flex;
  margin-top: 3vw;
  justify-content: space-between;
}

.new-pet-button {
  display: flex;
  background-color: #a3c7b0;
  border: 1px solid black;
  /*box-shadow: 3px 3px grey;*/
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #a7b5c4;
  height: 100px;
  flex: 1;
}

/*pet profile page*/

.pet-profile-creature-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pet-profile-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.pet-profile-info {
  width: 50%;
}

.pet-profile-name {
  width: 25%;
}

.pet-profile-buttons {
  width: 94%;
}

/*feeding options*/

.feeding-container {
  height: 25vw;
  width: 75%;
  display: flex;
  background-color: GhostWhite;
  justify-content: space-evenly;
  border: 3px solid black;
  padding-right: -15vw;
  align-items: center;
  position: relative;
}

.food-3,
.food-2,
.food-1 {
  display: flex;
  border: 1px solid black;
  align-items: center;
}

.feeding-page-content {
  display: flex;
  position: relative;
  margin-left: 30vw;
  margin-top: -30vw;
  width: 50vw;
}

.breed-title {
  color: black;
}

.breed-button {
  background-color: #a3c7b0;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 3px 3px grey;
  align-content: center;
  border-radius: 40%;
}

.breed-button-container {
  display: flex;
  position: relative;
  height: 7em;
  width: 5em;
  margin-bottom: 0.5em;
  margin-right: 17px;
  justify-content: space-around;
}

.breed-button:hover {
  background-color: #3e8e41;
  color: black;
}

.breed-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
