.jobCard {
  display: flex;
  flex-direction: column;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);

}

.creatureJobWindow {
  height: 60px;
  overflow: hidden;
}

.petJob {
  position: relative;
  top: -59px;
}

.jobCardTop {
  height: 40px;
  background-color: grey;
  padding: 10px;
  background-image: url("../../lib/img/green-fibers.png");
  border-radius: 1px;
}
.jobCardTop .statusJob {
  float: right;
  margin-left: 10px;
}

.jobCardTop img {
  height: 24px;
}

p.jobName {
  float: left;
}

.jobcardbottom {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  background-image: url("../../lib/img/green-fibers.png");
  border-radius: 1px;
}

h4 {
  font-family: "Archivo Narrow", sans-serif;
}
